@model List<SubCategoryGetDto>

<table id="datatable" class="table table-bordered dt-responsive  nowrap w-100 text-center">
    <thead>
        <tr>
            <th>Name</th>
            <th>Product's count</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (SubCategoryGetDto subCategory in Model)
        {
            <tr>
                <td>@subCategory.Name</td>
                <td>@subCategory.Products.Count</td>
                <td>

                    @{
                        if (subCategory.isDeleted)
                        {
                            <div class="flex-shrink-0">
                                <span class="badge rounded-pill badge-soft-danger font-size-12 fw-medium">InActive</span>
                            </div>
                        }
                        else
                        {
                            <div class="flex-shrink-0">
                                <span class="badge rounded-pill badge-soft-success font-size-12 fw-medium">Active</span>
                            </div>
                        }
                    }

                </td>
                <td>
                    <div class="btn-group">




                        @{
                            <a type="button" href="javascript:0"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="view-detail  btn-outline-success text-center " id="infoBtn" data-id="@subCategory.Id">
                                <i class="bx bx-show-alt"></i>
                            </a>

                            <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">

                                <i class="mdi mdi-chevron-down"></i>
                            </button>
                            if (!subCategory.isDeleted)
                            {
                                <div class="dropdown-menu dropdownmenu-danger">
                                    <a class="dropdown-item" asp-action="Update" asp-controller="Category" asp-route-id="@subCategory.Id">Edit</a>
                                    <a class="dropdown-item" asp-action="Delete" asp-controller="Category" asp-route-id="@subCategory.Id">Delete</a>
                                </div>
                            }
                            else
                            {
                                <div class="dropdown-menu dropdownmenu-danger">
                                    <a class="dropdown-item" asp-action="Recover" asp-controller="Category" asp-route-id="@subCategory.Id">Recover</a>
                                    <a class="dropdown-item" asp-action="HardDelete" asp-controller="Category" asp-route-id="@subCategory.Id">Permamently Delete</a>
                                </div>
                            }
                        }


                    </div>
                </td>


            </tr>
        }
    </tbody>
</table>
